<%= render Blox.SharedView, "_errors.html", Dict.merge(assigns, form: @form) %>

<form method="POST" action="<%= post_path(@conn, :update, form_value(@form, :id)) %>">
  <input name="_method" type="hidden" value="PATCH" />

  <%= render Blox.PostView, "_form.html", assigns %>

  <input type="submit" value="Update" />
</form>
