<form method="POST" action="<%= post_path(@conn, :create) %>">
  <input name="post[title]" type="text" value="<%= @post.title %>" />
  <input name="post[body]" type="textarea" value="<%= @post.body %>" />

  <input type="submit">Create</input>

  <%= render Blox.SharedView, "_csrf.html", assigns %>
</form>
