<%= if form_errors(@form) != [] do %>
<div>Errors!</div>
<% end %>

<form method="POST" action="<%= post_path(@conn, :create) %>">
  <input name="post[title]" type="text" value="<%= form_value(@form, :title) %>" />
  <input name="post[body]" type="textarea" value="<%= form_value(@form, :body) %>" />

  <%= render Blox.SharedView, "_csrf.html", assigns %>

  <input type="submit" value="Create" />
</form>
