<%= render Blox.SharedView, "_errors.html", Dict.merge(assigns, form: @form) %>

<form method="POST" action="<%= post_path(@conn, :create) %>">
  <%= render Blox.PostView, "_form.html", assigns %>

  <input type="submit" value="Create" />
</form>
