<h1><%= @post.title %></h1>
<div>
  <pre>
    <%= @post.body %>
  </pre>
</div>

<ul>
  <li>
    <%= link "Edit", to: post_path(@conn, :edit, @post) %>
  </li>
  <li>
    <%= link "Delete", to: post_path(@conn, :delete, @post), "data-remote": true, "data-confirm": true, "data-method": "DELETE" %>
  </li>
  <li>
    <%= link "View All Posts", to: post_path(@conn, :index) %>
  </li>
</ul>
