<h1><%= @post.title %></h1>
<div>
  <pre>
    <%= @post.body %>
  </pre>
</div>

<ul>
  <li>
    <a href="<%= post_path(@conn, :edit, @post.id) %>">Edit</a>
  </li>
  <li>
    <a href="<%= post_path(@conn, :delete, @post.id) %>" data-remote data-method="DELETE" data-confirm>Delete</a>
  </li>
  <li>
    <a href="<%= post_path(@conn, :index) %>">View All Post</a>
  </li>
</ul>
