<%= render Blox.SharedView, "_errors.html", Dict.merge(assigns, errors: @changeset.errors) %>

<%= form_for @changeset, :create, fn f -> %>
  <%= text_input f, :body %>

  <%= submit "Create" %>
<% end %>
